[submodule "WeCenterMobile/External/MJRefresh"]
	path = WeCenterMobile/External/MJRefresh
	url = https://github.com/CoderMJLee/MJRefresh.git
[submodule "WeCenterMobile/External/EAColourfulProgressView"]
	path = WeCenterMobile/External/EAColourfulProgressView
	url = https://github.com/Eddpt/EAColourfulProgressView
[submodule "WeCenterMobile/External/SVProgressHUD"]
	path = WeCenterMobile/External/SVProgressHUD
	url = https://github.com/TransitApp/SVProgressHUD.git
[submodule "WeCenterMobile/External/AFNetworking"]
	path = WeCenterMobile/External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "WeCenterMobile/External/DTCoreText"]
	path = WeCenterMobile/External/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
[submodule "WeCenterMobile/External/RMDateSelectionViewController"]
	path = WeCenterMobile/External/RMDateSelectionViewController
	url = https://github.com/CooperRS/RMDateSelectionViewController.git
[submodule "WeCenterMobile/External/GBDeviceInfo"]
	path = WeCenterMobile/External/GBDeviceInfo
	url = https://github.com/lmirosevic/GBDeviceInfo.git
[submodule "WeCenterMobile/External/RMActionController"]
	path = WeCenterMobile/External/RMActionController
	url = https://github.com/CooperRS/RMActionController.git
[submodule "WeCenterMobile/External/AFViewShaker"]
	path = WeCenterMobile/External/AFViewShaker
	url = https://github.com/ArtFeel/AFViewShaker.git
[submodule "WeCenterMobile/External/ZFTokenField"]
	path = WeCenterMobile/External/ZFTokenField
	url = https://github.com/Msr-B/ZFTokenField
[submodule "WeCenterMobile/External/SinaWeiboSDK"]
	path = WeCenterMobile/External/SinaWeiboSDK
	url = https://github.com/sinaweibosdk/weibo_ios_sdk.git
[submodule "WeCenterMobile/External/Msr"]
	path = WeCenterMobile/External/Msr
	url = https://github.com/MsrButterfly/Msr.LibSwift.git
