[submodule "WeCenterMobile/External/Msr"]
	path = WeCenterMobile/External/Msr
	url = https://github.com/Msr-B/Msr.LibSwift.git
[submodule "WeCenterMobile/External/MJRefresh"]
	path = WeCenterMobile/External/MJRefresh
	url = https://github.com/CoderMJLee/MJRefresh.git
[submodule "WeCenterMobile/External/ZFTokenField"]
	path = WeCenterMobile/External/ZFTokenField
	url = https://github.com/Msr-B/ZFTokenField
[submodule "WeCenterMobile/External/UzysAssetsPickerController"]
	path = WeCenterMobile/External/UzysAssetsPickerController
	url = https://github.com/uzysjung/UzysAssetsPickerController.git
[submodule "WeCenterMobile/External/EAColourfulProgressView"]
	path = WeCenterMobile/External/EAColourfulProgressView
	url = https://github.com/Eddpt/EAColourfulProgressView
[submodule "WeCenterMobile/External/SVProgressHUD"]
	path = WeCenterMobile/External/SVProgressHUD
	url = https://github.com/TransitApp/SVProgressHUD.git
[submodule "WeCenterMobile/External/AFNetworking"]
	path = WeCenterMobile/External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "WeCenterMobile/External/DTCoreText"]
	path = WeCenterMobile/External/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
