<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Website</key>
	<string>http://wecenter.dev.hihwei.com/</string>
	<key>Path</key>
	<dict>
		<key>Topic Detail</key>
		<string>api/topic/topic/</string>
		<key>Topic Image</key>
		<string>uploads/topic/</string>
		<key>User Topic List</key>
		<string>api/people/topics/</string>
		<key>Topic Outstanding Answer List</key>
		<string>api/topic/topic_best_answer_list/</string>
		<key>Focus Topic</key>
		<string>topic/ajax/focus_topic/</string>
		<key>Answer Detail</key>
		<string>api/question/answer/</string>
		<key>Explore List</key>
		<string>api/explore/</string>
		<key>Upload Attachment</key>
		<string>api/publish/attach_upload/</string>
		<key>Question Detail</key>
		<string>api/question/</string>
		<key>Focus Question</key>
		<string>question/ajax/focus/</string>
		<key>User Login</key>
		<string>api/account/login_process/</string>
		<key>User UID</key>
		<string>api/account/get_uid/</string>
		<key>User Basic Information</key>
		<string>api/profile.php/</string>
		<key>User Extra Information</key>
		<string>api/account/get_userinfo/</string>
		<key>User Registration</key>
		<string>api/account/register_process/</string>
		<key>User Avatar</key>
		<string>uploads/avatar/</string>
		<key>Upload User Avatar</key>
		<string>api/account/avatar_upload/</string>
		<key>Follow User</key>
		<string>follow/ajax/follow_people/</string>
		<key>User Following List</key>
		<string>api/people/follows/</string>
		<key>User Follower List</key>
		<string>api/people/follows/</string>
		<key>Answer Comment List</key>
		<string>api/question/answer_comments/</string>
		<key>Article Comment List</key>
		<string>api/article/article_comments/</string>
		<key>Article Detail</key>
		<string>api/article/</string>
		<key>Update Profile</key>
		<string>api/people/profile_setting/</string>
		<key>Home List</key>
		<string>api/home/</string>
		<key>Hot Topic List</key>
		<string>api/topic/hot_topics/</string>
		<key>User Question List</key>
		<string>api/people/user_actions/</string>
		<key>User Answer List</key>
		<string>api/people/user_actions/</string>
		<key>User Article List</key>
		<string>api/people/user_actions/</string>
		<key>Post Answer Comment</key>
		<string>api/question/save_answer_comment/</string>
		<key>Post Article Comment</key>
		<string>api/article/save_comment/</string>
		<key>Post Question</key>
		<string>api/publish/publish_question/</string>
		<key>Post Answer</key>
		<string>api/publish/save_answer/</string>
		<key>Post Article</key>
		<string>api/publish/publish_article/</string>
		<key>Evaluate Answer</key>
		<string>question/ajax/answer_vote/</string>
		<key>Evaluate Article</key>
		<string>article/ajax/article_vote/</string>
		<key>Search</key>
		<string>api/search/</string>
	</dict>
	<key>App Secret</key>
	<string>12884789df747d7affbcd6a7cadd9359</string>
	<key>Success Code</key>
	<integer>1</integer>
	<key>Internal Error Code</key>
	<real>23333</real>
</dict>
</plist>
