<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Base</key>
		<string>http://w.hihwei.com/</string>
		<key>ImageURL</key>
		<string>http://w.hihwei.com/uploads/topic/</string>
		<key>Get mine topic list</key>
		<string>api/my_focus_topic.php</string>
		<key>Get topic</key>
		<string>api/topic.php</string>
	</dict>
</dict>
</plist>
