<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Base</key>
		<string>http://w.hihwei.com/</string>
		<key>Login</key>
		<string>?/api/account/login_process/</string>
		<key>Information</key>
		<string>?/api/account/get_userinfo/</string>
		<key>Register</key>
		<string>?/api/account/register_process/</string>
		<key>Get UID</key>
		<string>?/api/account/get_uid/</string>
		<key>user_information</key>
		<string>api/user.php</string>
		<key>avatar_upload</key>
		<string>?/api/account/avatar_upload/</string>
		<key>Avatar Base</key>
		<string>uploads/avatar/</string>
		<key>profile_setting</key>
		<string>api/profile_setting.php</string>
		<key>profile</key>
		<string>api/profile.php</string>
		<key>Follow User</key>
		<string>?/follow/ajax/follow_people/</string>
	</dict>
</dict>
</plist>
