<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Base</key>
		<string>http://w.hihwei.com/</string>
		<key>Information</key>
		<string>api/user.php</string>
		<key>Login</key>
		<string>?/api/account/login_process/</string>
		<key>Register</key>
		<string>?/api/account/register_process/</string>
	</dict>
</dict>
</plist>
