<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login View</key>
	<dict>
		<key>Text Field</key>
		<dict>
			<key>Border Color</key>
			<dict>
				<key>Red</key>
				<integer>250</integer>
				<key>Green</key>
				<integer>160</integer>
				<key>Blue</key>
				<integer>100</integer>
				<key>Alpha</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>Login Button</key>
	<dict>
		<key>Background Color</key>
		<dict>
			<key>Red</key>
			<integer>242</integer>
			<key>Green</key>
			<integer>106</integer>
			<key>Blue</key>
			<integer>38</integer>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>Register Button</key>
	<dict>
		<key>Background Color</key>
		<dict>
			<key>Red</key>
			<integer>255</integer>
			<key>Green</key>
			<integer>255</integer>
			<key>Blue</key>
			<integer>255</integer>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
	<key>View</key>
	<dict>
		<key>Background Color</key>
		<dict>
			<key>Red</key>
			<integer>222</integer>
			<key>Green</key>
			<integer>86</integer>
			<key>Blue</key>
			<integer>18</integer>
			<key>Alpha</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
